<template>
	<section>

		<h1 class="text-secondary">Facilities Guru Dashboard</h1>

		<b-alert variant="danger" :show="showAlert" dismissible fade>
			{{statusText}}
		</b-alert>

		<b-container fluid>

			<b-row>

				<b-col md="12" class="my-3">
					<b-form-group horizontal label="Search:" class="mb-0">
						<b-input-group>
							<b-form-input v-model="filter" placeholder="Search by Order, Client Name, Facility or Product" />
							<b-input-group-append>
								<b-btn :disabled="!filter" @click="filter = ''">Clear</b-btn>
							</b-input-group-append>
						</b-input-group>
					</b-form-group>
				</b-col>

				<b-col md="12" class="my-3">
					<b-form-group horizontal label="Per page" class="mb-0">
						<b-form-select :options="pageOptions" v-model="perPage" />
					</b-form-group>
				</b-col>

				<b-col md="12" class="my-3">
					<b-form-group horizontal label="Warehouses In:" class="mb-0">
						<b-form-select :options="stores" v-model="selectedStore" />
					</b-form-group>
				</b-col>

			</b-row>

			<b-table striped hover fixed show-empty :items="items" :fields="fields" :current-page="currentPage" :per-page="perPage" :filter="filter"
				:sort-by.sync="sortBy" :sort-desc.sync="sortDesc" :sort-direction="sortDirection" @filtered="onFiltered">
				
				<template slot="options" slot-scope="order">
					<b-button size="sm" @click.stop="deleteOrder(order.item)" class="mr-2">
						<i class="fas fa-trash-alt"></i>
					</b-button>
				</template>

			</b-table>

			<b-row>
				<b-col md="6" class="my-1">
					<b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
				</b-col>
			</b-row>

			<b-modal id="modalInfo" @hide="resetModal" :title="modalInfo.title" ok-only>
				<ul>
					<li class="text-left" :key="key" v-for="(facility, key) in modalInfo.content">
						{{facility}}
					</li>
				</ul>
			</b-modal>

		</b-container>

	</section>
</template>

<script>

import Service from '@/services/PostsService';

export default {
	name: 'OrdersTable',
	data () {
		return {
			items: [],
			fields: [
				{ key: 'orderId', label: 'Order ID', sortable: true },
				{ key: 'ClientName', label: 'Client Name', sortable: true, 'class': 'text-center' },
				{ key: 'product', label: 'Product Name' },
				{ key: 'FacilityCode', label: 'Facility Code' },
				{ key: 'options', label: 'Options' },
			],
			stores : [],
			selectedStore: "",
			currentPage: 1,
			perPage: 5,
			totalRows: 10,
			pageOptions: [ 5, 10, 15 ],
			sortBy: null,
			sortDesc: false,
			sortDirection: 'asc',
			filter: null,
			statusText : '',
			showAlert : false,
			modalInfo: { title: '', content: '' }
		}
	},
	mounted: function () {
		this.getOrders();
	},
	computed: {
		sortOptions () {
			return this.fields
				.filter(f => f.sortable)
				.map(f => { return { text: f.label, value: f.key } })
		}
	},
	methods: {
		async deleteOrder (item) {
			const response = await Service.removeOrder(item._id);
			if(response.statusText == "OK" && response.status == 200){
				this.statusText = `Order ${item.orderId} from ${item.ClientName} was deleted with success`;
				this.showAlert = true;
				this.filter = null;
				this.getOrders();
			}
		},
		infos (title, items, index, button) {
			this.modalInfo.title = `Warehouses of ${title}`

			let facilities = items.map(item =>{
				return item.FacilityCode;
			});
			
			this.modalInfo.content = facilities.filter( (item, pos) =>{
				return facilities.indexOf(item) == pos;
			});

			this.$root.$emit('bv::show::modal', 'modalInfo', button)
		},
		resetModal () {
			this.modalInfo.title = '';
			this.modalInfo.content = '';
		},
		onFiltered (filteredItems) {
			this.totalRows = filteredItems.length
			this.currentPage = 1
		},
		async getOrders () {
			const response = await Service.getOrders();
			this.items = response.data;
			response.data.forEach(element => {
				if(this.stores.indexOf(element.ClientName) < 0 ) this.stores.push(element.ClientName);
			});
		},
		async getFacilities (store){
			const response = await Service.getFacilities(store);
			this.infos(store, response.data)
		}
	},
	watch : {
		selectedStore : function(val) {
			this.getFacilities(val);
		}
	}
}
</script>

<style scoped>
</style>
